*.la
*.gir
*.typelib

gtkextra-marshal.c
gtkextra-marshal.h

gtkextrafeatures.h

gtkextratypebuiltins.c
gtkextratypebuiltins.h

demo*.ps

testboxes
testbubbles
testcandles
testcharsel
testcontour
testdt
testflux
testgtkfilesel
testgtkfont
testgtkiconlist
testgtkplot
testgtkplot3d
testgtkplotcandle
testgtkplotcanvas
testgtkplotdt
testgtksheet
testimage
testiterator
testpixmap
testpolar
testprintexport
testrealtime
testsegment

test*.exe

log

