/* these are just examples for testing */

@define-color sheet_default_bg_color lightgray;
@define-color sheet_default_fg_color black;

sheet {
    background-color: @sheet_default_bg_color;
    color: @sheet_default_fg_color;
}

/* sheet entry selection style */

sheet entry selection {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

sheet entry {
    background-color: @sheet_default_bg_color;
}

/* "text" is needed for entry types GtkTextView, GtkDataTextView */ 
sheet.view text {
    background-color: @sheet_default_bg_color;
}

sheet.view text:backdrop {
    background-color: @sheet_default_bg_color;
}

/* sheet button applies to all button widgets (childs) */

sheet button {
    border-width: 1px;
    border-style: solid;
    /*border-color: #00f;*/
    /*background-color: #cfc;   */
    /*color: #000;              */
}

/* sheet button.top applies to column button widgets */

sheet button.top {
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    /*border-color: #00f;*/
    /*background-color: #cfc;   */
    /*color: #000;              */
}

/* sheet.button.left applies to row buttons */

sheet.button.left {
    background-color: lightgray;
    color: black;
    border-width: 2px;
    border-color: darkgrey;
    border-style: outset;
}

sheet.button.left:active {
    background-color: darkgrey;
    color: black;
    border-width: 1px;
    border-color: darkgrey;
    border-style: inset;
}

/* testgtksheet example1 - access via class */

@define-color testgtksheet_example1_default_bg lightyellow;

sheet .example1class {
    background-color: @testgtksheet_example1_default_bg;
    color: black;
}
sheet .example1red {
    background-color: @testgtksheet_example1_default_bg;
    color: red;
}
sheet .example1blue {
    background-color: @testgtksheet_example1_default_bg;
    color: blue;
}
sheet .example1grey {
    background-color: darkgrey;
    color: green;
}

/* testgtksheet example2 - access via widget name */

@define-color testgtksheet_example2_bgcolor lightgray;

sheet#example2 .blue {
    background-color: @testgtksheet_example2_bgcolor;
    color: blue;
}
sheet#example2 .red {
    background-color: @testgtksheet_example2_bgcolor;
    color: red;
}
sheet#example2 .black {
    background-color: @testgtksheet_example2_bgcolor;
    color: black;
}

/* testgtksheet example3 - access via widget name */

@define-color testgtksheet_example3_default_fg brown;

@define-color testgtksheet_example3_orange_bg orange;
@define-color testgtksheet_example3_orange_fg white;
@define-color testgtksheet_example3_lblue_bg lightblue;
@define-color testgtksheet_example3_lgreen_bg lightgreen;
@define-color testgtksheet_example3_red_bg red;
@define-color testgtksheet_example3_red_fg white;

sheet#example3 .orange {
    background-color: @testgtksheet_example3_orange_bg;
    color: @testgtksheet_example3_orange_fg;
}
sheet#example3 .orange text {
    background-color: @testgtksheet_example3_orange_bg;
    color: @testgtksheet_example3_orange_fg;
}
sheet#example3 .lblue {
    background-color: @testgtksheet_example3_lblue_bg;
    color: @testgtksheet_example3_default_fg;
}
sheet#example3 .lblue text {
    background-color: @testgtksheet_example3_lblue_bg;
    color: @testgtksheet_example3_default_fg;
}
sheet#example3 .lgreen {
    background-color: @testgtksheet_example3_lgreen_bg;
    color: @testgtksheet_example3_default_fg;
}
sheet#example3 .red {
    background-color: @testgtksheet_example3_red_bg;
    color: @testgtksheet_example3_red_fg;
}


/*
sheet entry {
    background-color: magenta;
}

sheet spinbutton.red entry {
    background-color: red;
}

sheet .col-4 {
    background-color: coral;
}
sheet .col-5 {
    background-color: coral;
}
sheet .col-5 text {
    background-color: coral;
}
sheet .row-2 {
    background-color: cyan;
}
sheet .row-2 text {
    background-color: cyan;
}
sheet .cell-2-4 {
    background-color: magenta;
}
*/

