*.mod
*.o
*.lo
*.a
*.so
*.dylib
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
libtool
build
aclocal.m4
autom4te.cache
build-aux
*.swp
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build2
stamp-h1
.DS_Store
*.app
*.zip
.libs
.deps

gtkextra-3.0.pc
gtkextra-3.0.spec
configure
