*.[oa]
*.l[oa]
*.so
*.stamp
config.status
config.h
config.log
configure
gtksheet-2.0.pc
libtool
Makefile
autom4te.cache/*
gtksheet/Makefile
gtksheet/.libs/*
gtksheet/.deps/*
gtksheet/gtksheetfeatures.h
gtksheet/gtksheet-marshal.c
gtksheet/gtksheet-marshal.h
gtksheet/gtksheettypebuiltins.c
gtksheet/gtksheettypebuiltins.h
gtksheet/testgtksheet
docs/reference/gtksheet-decl-list.txt
docs/reference/gtksheet-decl.txt
docs/reference/.libs/
docs/reference/gtksheet-undeclared.txt
docs/reference/gtksheet-undocumented.txt
docs/reference/gtksheet-unused.txt
docs/reference/gtksheet.args
docs/reference/gtksheet.hierarchy
docs/reference/gtksheet.interfaces
docs/reference/gtksheet.prerequisites
docs/reference/gtksheet.signals
docs/reference/html/*
docs/reference/tmpl/*
docs/reference/xml/*
docs/tutorial/html/*
stamp-h1
