*.[oa]
*.l[oa]
*.so
*.stamp
autoregen.sh
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
gtksheet-2.0.pc
gtksheet-2.0.spec
libtool
Makefile
Makefile.in
autom4te.cache/*
gtksheet/Makefile
gtksheet/Makefile.in
gtksheet/.libs/*
gtksheet/.deps/*
gtksheet/gtksheetfeatures.h
gtksheet/gtksheet-marshal.c
gtksheet/gtksheet-marshal.h
gtksheet/gtksheettypebuiltins.c
gtksheet/gtksheettypebuiltins.h
gtksheet/testgtksheet
docs/reference/gtksheet-decl-list.txt
docs/reference/gtksheet-decl.txt
docs/reference/.libs/
docs/reference/gtksheet-undeclared.txt
docs/reference/gtksheet-undocumented.txt
docs/reference/gtksheet-unused.txt
docs/reference/gtksheet.args
docs/reference/gtksheet.hierarchy
docs/reference/gtksheet.interfaces
docs/reference/gtksheet.prerequisites
docs/reference/gtksheet.signals
docs/reference/Makefile.in
docs/reference/html/*
docs/reference/tmpl/*
docs/reference/xml/*
docs/tutorial/html/*
docs/tutorial/Makefile.in
stamp-h1
