/* examples for testing */

entry selection {
  background-color: #ccf;
}

sheet .column-header {
  border-width: 1px;
  border-color: #00f;
  border-style: solid;
  border-radius: 0px;
  background-color: #cfc;
  color: #000;
}

sheet button {
  border-width: 1px;
  /*border-color: #00f;*/
  border-style: solid;
  border-radius: 0px;
  background-color: #cfc;
  color: #000;
}

sheet button.top {
  border-width: 1px;
  /*border-color: #00f;*/
  border-style: solid;
  border-radius: 0px;
  background-color: #cfc;
  color: #000;
}

sheet entry {
  border-width: 1px;
  /*border-color: #00f;*/
  border-style: solid;
  border-radius: 0px;
  background-color: #cfc;
  color: #000;
}

