html
tmpl
xml

gtkextra-decl-list.txt
gtkextra-decl.txt
gtkextra-overrides.txt
gtkextra-undeclared.txt
gtkextra-undocumented.txt
gtkextra-unused.txt

gtkextra.args
gtkextra.hierarchy
gtkextra.interfaces
gtkextra.prerequisites
gtkextra.signals

*.stamp
*.bak
